body{
    background-color: rgb(237, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Todo{
    background-color: white;
    text-align: left;
    align-items: left;
    padding-left: 13px;
}

.taskWrapper{
    background-color: white;
    margin-top: 5rem;
    padding: 2rem;
    width: 400px;
    text-align: left;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

}

.todo-input {
    outline: none; 
    width: 300px;
}

.btn-delete{
    border: none;
    background-color: white;
}

.list-group-item .btn-delete {
    display: none;
  }
  
  .list-group-item:hover .btn-delete {
    display: inline-block; 
  }

 
  


  .footer {
    font-size: 10px;
    text-align: left;
    margin-top: 20px;
    padding: 10px;
    
  }